In [1]:
import numpy

In [2]:
a = True
not a

False

In [3]:
b = 10
a and b

10

In [4]:
a and bool(b)

True

In [5]:
a, b

(True, 10)

In [6]:
type(round(2.6))

int

In [7]:
x = 1
y =2
(x,y)= (y,x)
x,y

(2, 1)

In [8]:
x = 'abc'
type(x)

str

In [9]:
x = 'abc'
y = x[:]
x,y

('abc', 'abc')

In [10]:
a = "I_love_coding"
print(a[5:10])
print(a[2:12:2])
print(a[10:10:2])
print(a[2500:2500])

e_cod
lv_oi

In [11]:
a = 'hello'
'hello' == a

True

In [12]:
a[:-1]

'hell'

In [13]:
num = 5
if num > 2:
    print("first: " + str(num))
    num -= 1
    print("after: " + str(num))
print(num)

first: 5
after: 4
4

In [14]:
result, num = 0,0

In [15]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [16]:
num = 10
for num in range(5):
    print(num)
print(num)

0
1
2
3
4
4

In [17]:
s = "azcbobobegghakl"
num = 0
for e in s:
    if e in ['a','e','i','o','u']:
        num += 1
print("Number of vowels: " + str(num))

Number of vowels: 5

In [18]:
s = "azcbobobegghakl"
num = 0
for e in range(len(s)-2):
    if s[e:e+3] == "bob":
        num += 1
print("Number of times bob occurs is: " + str(num))

Number of times bob occurs is: 2

In [19]:
4.9*4.9

24.010000000000005

In [20]:
ans = ['l','c','h']
e = 'ok'
e in ans

False

In [21]:
e not in ans

True

In [22]:
def func_a():
    print('inside func_a')
def func_c(z):
    print('inside func_c')
    return z()

print(func_c(func_a))

inside func_c
inside func_a
None

In [23]:
def g(y):
    print(x)
    print(x+1)
    
x = 5
g(x)
print(x)

5
6
5

In [24]:
def a(x, y, z):
     if x:
         return y
     else:
         return z

def b(q, r):
    return a(q>r, q, r)

In [25]:
a(3>2, a, b)

In [26]:
str1 = "exterminate"
str1.find('w')

-1

In [27]:
def gcdIter(a, b):
    val = min(a, b)
    while (a % val != 0) or (b % val != 0):
        val -= 1
    return val

In [28]:
gcdIter(17, 12)

1

In [29]:
def gcdRecur(a, b):
    if (b == 0):
        return a
    else:
        return gcdRecur(b, a % b)

In [30]:
a, b =17, 12
gcdRecur(a, b)

1

In [31]:
s = 'apple'

count = 0
for i in s:
    if (i in ['a','e','i','o','u']):
        count+= 1
print("Number of vowels is " + str(count))

Number of vowels is 2

In [32]:
fileHandler = open('dump', 'w')
for i in range(30):
    fileHandler.write(str(i)+"\n")
fileHandler.close()

In [33]:
import math

In [34]:
def polysum(n, s):
    area = 0.25 * n * (s**2) / math.tan(math.pi/n)
    perimeter = n * s
    return area + perimeter**2

In [35]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [36]:
balance = 484
annualInterestRate = 0.2
monthlyPaymentRate = 0.04
num_month = 12

In [37]:
monthlyInterestRate = annualInterestRate/12.0
current_balance = balance
for i in range(1, num_month+1):
    min_payment = monthlyPaymentRate * current_balance
    unpaid_bal = current_balance - min_payment
    current_balance = unpaid_bal * (1 + monthlyInterestRate)
    print("Month " + str(i) + " Remaining balance: " + str(round(current_balance, 2)))
    
print("Remaining balance: " + str(round(current_balance, 2)))

Month 1 Remaining balance: 472.38
Month 2 Remaining balance: 461.05
Month 3 Remaining balance: 449.98
Month 4 Remaining balance: 439.18
Month 5 Remaining balance: 428.64
Month 6 Remaining balance: 418.35
Month 7 Remaining balance: 408.31
Month 8 Remaining balance: 398.51
Month 9 Remaining balance: 388.95
Month 10 Remaining balance: 379.62
Month 11 Remaining balance: 370.5
Month 12 Remaining balance: 361.61
Remaining balance: 361.61

In [38]:
def yearBalance(init_balance, fixed_payment):
    current_balance = init_balance
    for i in range(1, 13):
        unpaid_bal = current_balance - fixed_payment
        current_balance = unpaid_bal * (1 + monthlyInterestRate)
    print("Fixed payment = " +str(fixed_payment) +" , year end balance = " + 
          str(round(current_balance,4)))
    return current_balance

In [39]:
balance = 3926
annualInterestRate = 0.2

monthlyInterestRate = annualInterestRate/12.0
min_payment = ((balance/12.0)//10)*10
current_balance = balance

while (current_balance > 0):
    current_balance = yearBalance(balance, min_payment)
    if (current_balance > 0):
        min_payment += 10
        
print("Lowest Payment: " + str(min_payment))

Fixed payment = 320.0 , year end balance = 504.8154
Fixed payment = 330.0 , year end balance = 370.9869
Fixed payment = 340.0 , year end balance = 237.1583
Fixed payment = 350.0 , year end balance = 103.3297
Fixed payment = 360.0 , year end balance = -30.4988
Lowest Payment: 360.0

In [40]:
balance = 999999
annualInterestRate = 0.18

monthlyInterestRate = annualInterestRate/12.0
low = balance/12.0
high = balance * ( 1 + monthlyInterestRate)**12 / 12.0
current_balance = balance

while (current_balance > 0 or current_balance < -0.1):
    min_payment = (low + high)/2
    current_balance = yearBalance(balance, min_payment)
    if (current_balance > 0):
        low = min_payment
    elif (current_balance < -0.1):
        high = min_payment
        
print("Lowest Payment: " + str(round(min_payment, 2)))

Fixed payment = 91483.99899347345 , year end balance = -15341.1302
Fixed payment = 87408.62449673672 , year end balance = 38603.9076
Fixed payment = 89446.31174510508 , year end balance = 11631.3887
Fixed payment = 90465.15536928926 , year end balance = -1854.8707
Fixed payment = 89955.73355719718 , year end balance = 4888.259
Fixed payment = 90210.44446324321 , year end balance = 1516.6941
Fixed payment = 90337.79991626623 , year end balance = -169.0883
Fixed payment = 90274.12218975472 , year end balance = 673.8029
Fixed payment = 90305.96105301048 , year end balance = 252.3573
Fixed payment = 90321.88048463836 , year end balance = 41.6345
Fixed payment = 90329.8402004523 , year end balance = -63.7269
Fixed payment = 90325.86034254532 , year end balance = -11.0462
Fixed payment = 90323.87041359184 , year end balance = 15.2942
Fixed payment = 90324.86537806859 , year end balance = 2.124
Fixed payment = 90325.36286030695 , year end balance = -4.4611
Fixed payment = 90325.11411918777 , year end balance = -1.1686
Fixed payment = 90324.98974862817 , year end balance = 0.4777
Fixed payment = 90325.05193390796 , year end balance = -0.3454
Fixed payment = 90325.02084126807 , year end balance = 0.0661
Fixed payment = 90325.03638758801 , year end balance = -0.1396
Fixed payment = 90325.02861442804 , year end balance = -0.0367
Lowest Payment: 90325.03

In [41]:
t = (2, 'one', 3)
t

(2, 'one', 3)

In [42]:
t + ((5,6))

(2, 'one', 3, 5, 6)

In [43]:
a = (1,3,5,7,9)
for i in a:
    print((i,))
len(a)

(1,)
(3,)
(5,)
(7,)
(9,)

5

In [44]:
x = 1
y = 2
(x,y)=(y,x)
x,y

(2, 1)

In [45]:
def myTuple(m, *itemsTuple):
    print(m)
    for i in range(len(itemsTuple)):
        print(itemsTuple[i])

myTuple('test',3,4,5,6,7)

test
3
4
5
6
7

In [46]:
for i in a:
    print(i)

1
3
5
7
9

In [47]:
list1 = [1,2,3,4,5]
list1[:2:-1]

[5, 4]

In [48]:
x = (1, 2,(3,'John',4),'Hi')
x

(1, 2, (3, 'John', 4), 'Hi')

In [49]:
x[-1][-1]

'i'

In [50]:
x[0:1]

(1,)

In [51]:
a = ('I', 'am','a','test','tuple')

def oddTuples(aTup):
    return aTup[::2]

b = oddTuples(a)
b

('I', 'a', 'tuple')

In [52]:
x = [1, 2, [3, 'John', 4], 'Hi']

In [53]:
x[0:1]

[1]

In [54]:
a = [1,2,3]
a + [[4,5]]

[1, 2, 3, [4, 5]]

In [55]:
listA = [1,4,3,0]
listB = ['x','z','t','q']
listA, listB

([1, 4, 3, 0], ['x', 'z', 't', 'q'])

In [56]:
listA.sort()
listA

[0, 1, 3, 4]

In [57]:
listA.insert(0,100)
listA

[100, 0, 1, 3, 4]

In [58]:
listA.remove(3)
listA

[100, 0, 1, 4]

In [59]:
listA.append(7)
listA

[100, 0, 1, 4, 7]

In [60]:
listA + listB

[100, 0, 1, 4, 7, 'x', 'z', 't', 'q']

In [61]:
listB

['x', 'z', 't', 'q']

In [62]:
listB.sort()
listB.pop()

'z'

In [63]:
listB

['q', 't', 'x']

In [64]:
listB.count('a')

0

In [65]:
listA

[100, 0, 1, 4, 7]

In [66]:
listA.extend([4,1,6,3,4])
listA

[100, 0, 1, 4, 7, 4, 1, 6, 3, 4]

In [67]:
listA.pop(4)
listA

[100, 0, 1, 4, 4, 1, 6, 3, 4]

In [68]:
listA.reverse()

In [69]:
listA

[4, 3, 6, 1, 4, 4, 1, 0, 100]

In [70]:
listA.sort()

In [71]:
listA.remove(3)

In [72]:
listA.pop(3)

4

In [73]:
warm = ['yellow', 'orange']
hot = ['red']
brightcolors=[warm]
warm, hot, brightcolors

(['yellow', 'orange'], ['red'], [['yellow', 'orange']])

In [74]:
brightcolors.extend(hot)
brightcolors

[['yellow', 'orange'], 'red']

In [75]:
help(brightcolors.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [76]:
help(brightcolors.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [77]:
id(warm), id(hot), id(brightcolors)

(140692499058632, 140692498842504, 140692498842824)

In [78]:
warm is hot

False

In [79]:
hot2 = hot
id(hot), id(hot2)

(140692498842504, 140692498842504)

In [80]:
hot is hot2

True

In [81]:
aList = [0,1,2,3,4,5]
bList = aList
aList[2] = 'hello'
aList == bList

True

In [82]:
aList is bList

True

In [83]:
cList = [1,2,3,4,5]
dList = []
for num in cList:
    dList.append(num)
cList == dList

True

In [84]:
map(abs, [1, -2, 3, -4])

In [85]:
for e in map(abs, [1,-2,3,-4]):
    print(e)

1
2
3
4

In [86]:
for e in map(min, [1,5,8,7], [0,6,4,5]):
    print(e)

0
5
4
5

In [87]:
def applyToEach(L, f):
    for i in range(len(L)):
        L[i] = f(L[i])

In [88]:
testList = [1, -4, 8, -9]

In [89]:
applyToEach(testList, abs)
testList

[1, 4, 8, 9]

In [90]:
def addOne(m):
    return m+1
applyToEach(testList, addOne)
testList

[2, 5, 9, 10]

In [91]:
def square(m):
    return m*m
applyToEach(testList, square)
testList

[4, 25, 81, 100]

In [92]:
def applyEachTo(L,x):
    result = []
    for i in range(len(L)):
        result.append(L[i](x))
    return result
def square(a):
    return a*a
def halve(a):
    return a/2
def inc(a):
    return a+1

In [93]:
applyEachTo([inc, square, halve, abs], -3)

[-2, 9, -1.5, 3]

In [94]:
applyEachTo([inc, square, halve, abs], 3.0)

[4.0, 9.0, 1.5, 3.0]

In [95]:
students = {'Ana':'B','John':'A+','Denise':'A','Katy':'A'}
students

{'Ana': 'B', 'John': 'A+', 'Denise': 'A', 'Katy': 'A'}

In [96]:
animals = {'a': 'aardvark', 'b': 'baboon', 'c': 'coati'}

animals['d'] = 'donkey'

In [97]:
animals

{'a': 'aardvark', 'b': 'baboon', 'c': 'coati', 'd': 'donkey'}

In [98]:
'donkey' in animals.values()

True

In [99]:
animals.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [100]:
animals = { 'a': ['aardvark'], 'b': ['baboon'], 'c': ['coati']}

animals['d'] = ['donkey']
animals['d'].append('dog')
animals['d'].append('dingo')
animals

{'a': ['aardvark'],
 'b': ['baboon'],
 'c': ['coati'],
 'd': ['donkey', 'dog', 'dingo']}

In [101]:
def how_many(aDict):
    total = 0
    for v in aDict.values():
        total += len(v)
    return total

In [102]:
print(how_many(animals))

6

In [103]:
def how2(aDict):
    return sum(map(len, aDict.values()))

In [104]:
print(how2(animals))

6

In [105]:
max(map(len, animals.values()))

3

In [106]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [107]:
def biggest(aDict):
    max_key = max(aDict, key=aDict.get)
    return max_key

In [108]:
biggest(animals)

'd'

In [109]:
for i in animals:
    print(i)

a
b
c
d

In [110]:
print(animals)
max(animals)

{'a': ['aardvark'], 'b': ['baboon'], 'c': ['coati'], 'd': ['donkey', 'dog', 'dingo']}

'd'

In [111]:
animals['aa'] = ['cat','dog','mouse','deer']
animals

{'a': ['aardvark'],
 'b': ['baboon'],
 'c': ['coati'],
 'd': ['donkey', 'dog', 'dingo'],
 'aa': ['cat', 'dog', 'mouse', 'deer']}

In [112]:
biggest(animals)

'd'

In [113]:
list1 = {key:len(val) for key,val in animals.items()}
max(list1, key=list1.get)

'aa'

In [114]:
def fib_loop(n):
    if n < 1: return None
    if n == 1: return 1
    elif n == 2: return 2
    val = [1, 2]
    for i in range(3, n+1):
        val[(i+1)%2] = sum(val)
    return val

In [115]:
fib_loop(10)

[55, 89]

In [116]:
fib_loop(11)

[144, 89]

In [117]:
secret_Word = 'apple'
letters_Guessed = ['e','i','k','p','r','s']

In [118]:
secret_set = set(secret_Word)
guessed_set = set(letters_Guessed)
not_hit_letters = secret_set - guessed_set
len(not_hit_letters)

2

In [119]:
def isWordGuessed(secret, guessed):
    secret_set = set(secret)
    guessed_set = set(guessed)
    return (len(secret_set - guessed_set) == 0)

In [120]:
isWordGuessed(secret_Word, letters_Guessed)

False

In [121]:
list(secret_Word)
underscore = "_"
bb = [i if i in letters_Guessed else underscore for i in secret_Word ]
''.join(bb)

'_pp_e'

In [122]:
def getGuessedWord(secretWord, lettersGuessed):
    secret_list = list(secretWord)
    underscore = "_"
    output_list = [i if i in lettersGuessed else underscore for i in secret_list]
    return ''.join(output_list)

In [123]:
print(getGuessedWord(secret_Word, letters_Guessed))

_pp_e

In [124]:
secret_Word, letters_Guessed

('apple', ['e', 'i', 'k', 'p', 'r', 's'])

In [125]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [126]:
all_set = set(string.ascii_lowercase)
guessed_set = set(letters_Guessed)
avail = ''.join(sorted(all_set - guessed_set))
avail

'abcdfghjlmnoqtuvwxyz'

In [127]:
def getAvailableLetters(lettersGuessed):
    all_set = set(string.ascii_lowercase)
    guessed_set = set(letters_Guessed)
    return (''.join(sorted(all_set - guessed_set)))

In [128]:
getAvailableLetters(letters_Guessed)

'abcdfghjlmnoqtuvwxyz'

In [129]:
s = 'apple'
'm' in s

False

In [130]:
a = ['a','b']
a.append("s")
a

['a', 'b', 's']

In [131]:
secret_Word, letters_Guessed

('apple', ['e', 'i', 'k', 'p', 'r', 's'])

In [132]:
all(c in letters_Guessed for c in secret_Word)

False

In [133]:
help(all)

Help on built-in function all in module builtins:

all(iterable, /)
    Return True if bool(x) is True for all values x in the iterable.

    If the iterable is empty, return True.

In [134]:
try:
    n = int(input("a number"))
    b = int(input("a number"))
    print("the numbers are: " + str(n) +", " + str(b))
    print(n/b)
except:
    print("error")
else:
    print("input normal")
finally:
    print("get out")

error
get out

In [137]:
def fancy_divide(list_of_numbers, index):
    denom = list_of_numbers[index]
    return [simple_divide(item, denom) for item in list_of_numbers]

def simple_divide(item, denom):
    try:
        ans = item /denom
    except ZeroDivisionError:
        ans = 0
    finally:
        return ans

fancy_divide([0,2,4],0)

[0, 0, 0]

In [148]:
def normalize(numbers):
    max_number = max(numbers)
    #assert(max_number != 0), "Cannot divide by 0"
    for i in range(len(numbers)):
        numbers[i]  /= float(max_number)
        assert(0.0 <= numbers[i] <= 1.0), "output not between 0 and 1"
    return numbers     

normalize([1,2,3])

[0.3333333333333333, 0.6666666666666666, 1.0]

In [149]:
try:
      normalize([0, 0, 0])
except ZeroDivisionError:
      print('Invalid maximum element')

Invalid maximum element

In [146]:
try:
    a = 0/0
except ZeroDivisionError:
    print('0/0')

0/0

In [150]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [157]:
s = list(string.ascii_lowercase)
n = [val for val in range(1,len(s)+1)]
d = {(s1, n1) for (s1,n1) in zip(s,n)}
d

{('a', 1),
 ('b', 2),
 ('c', 3),
 ('d', 4),
 ('e', 5),
 ('f', 6),
 ('g', 7),
 ('h', 8),
 ('i', 9),
 ('j', 10),
 ('k', 11),
 ('l', 12),
 ('m', 13),
 ('n', 14),
 ('o', 15),
 ('p', 16),
 ('q', 17),
 ('r', 18),
 ('s', 19),
 ('t', 20),
 ('u', 21),
 ('v', 22),
 ('w', 23),
 ('x', 24),
 ('y', 25),
 ('z', 26)}